<template>
  <div
    class="h-navbar-mobile lg:h-navbar-pc fixed top-0 z-40 flex items-center justify-between w-screen bg-white border-b"
    :class="{ 'shadow border-transparent': scrolled }"
    @click="scrollToTop"
  >
    <div class="lg:container lg:px-4 flex items-center justify-between w-full px-8 mx-auto">
      <div class="flex items-center pr-4">
        <NuxtLink to="/" class="flex-1 flex-shrink-0 text-xl font-bold" aria-label="Logo">
          <GreySoftwareLogo />
        </NuxtLink>
      </div>

      <!-- Mobile toggle -->
      <button class="md:hidden" @click="drawer">
        <IconMenu />
      </button>
      <Navbar />
    </div>
    <side-nav :isOpen="isOpen" v-on:drawer="drawer" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
      isOpenDrop: true,
      scrolled: 0,
    }
  },

  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },

  methods: {
    drawer() {
      this.isOpen = !this.isOpen
    },

    handleScroll() {
      this.scrolled = window.scrollY > 0
    },
    scrollToTop() {
      if (window.innerWidth >= 1280) {
        return
      }
      window.scrollTo(0, 0)
    },
  },
}
</script>
