<template>
  <section
    class="
      w-screen
      h-hero
      mt-navbar-mobile
      md:grid
      grid-cols-1
      md:grid-cols-8
      place-content-center
      pt-12
      md:pt-6
      mx-auto
      md:px-4
      lg:px-12
    "
  >
    <div class="md:col-span-4 md:mb-0 flex flex-col justify-center items-center w-full px-4 mb-20 lg:ml-8">
      <div class="md:text-left text-center md:-mb-12">
        <h2 class="md:text-3xl lg:text-hero-title mb-3 text-2xl font-bold text-black">
          We Create Software To Help <br class="hidden sm:block" />
          Students Learn With Us
        </h2>
        <p
          class="
            mx-auto
            md:mx-0
            md:text-md
            lg:text-lg
            mb-6
            text-base
            font-normal
            text-black
            md:w-84
            lg:w-116
            sm:max-w-lg
          "
        >
          Grey Software is making open products with students worldwide and sharing what we learn along the way!
        </p>
        <div>
          <cta-primary
            class="md:mr-6 md:w-auto inline-block w-full sm:max-w-lg mb-4"
            text="Support Us"
            link="#support"
          />
          <cta-secondary
            class="md:w-auto inline-block w-full sm:max-w-lg"
            text="Hacktoberfest 2021"
            link="/hacktoberfest"
          />
        </div>
      </div>
    </div>
    <!-- <div class="md:col-span-4 md:px-0 flex items-center justify-center w-full px-4">
      <img class="max-h-84 md:max-h-112 w-full" src="/hero-illustration.svg" alt="" />
    </div> -->
    <img
      class="md:col-span-4 md:px-0 flex items-center justify-center px-4 max-h-84 md:max-h-112 w-full"
      src="/hero-illustration.svg"
      alt=""
    />
  </section>
</template>
