<template>
  <div class="md:flex items-center justify-end hidden ml-auto">
    <div class="flex items-center">
      <!-- Generating nav link from props -->
      <div v-for="(navItem, index) in navItems" :key="index" class="dropdown relative inline-block cursor-pointer">
        <div class="flex items-center mr-10">
          <p class="dark:text-gray-300 text-black-500 hover:text-primary-300 dark-hover:text-primary-500">
            {{ navItem.name }}
          </p>
          <icon-chevron-down class="w-5 h-5" />
        </div>
        <drop-down :isExternal="navItem.name == 'Explore' || navItem.name == 'Socials'" :links="navItem.links" />
      </div>
      <nav-cta link="/support" text="Support Us" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navItems: [
        {
          name: 'About',
          links: [
            {
              name: 'Pitch',
              link: '/pitch',
            },
            {
              name: 'FAQ',
              link: '/faq',
            },
            {
              name: 'Feedback',
              link: '/feedback',
            },
            {
              name: 'Analytics',
              link: '/analytics',
            },
            {
              name: 'Philosophy',
              link: '/philosophy',
            },
          ],
        },
        {
          name: 'Explore',
          links: [
            {
              name: 'Resources',
              link: 'https://resources.grey.software/',
            },
            {
              name: 'Onboarding',
              link: 'https://onboarding.grey.software/',
            },
            {
              name: 'Organization',
              link: 'https://org.grey.software/',
            },
            {
              name: 'Learn',
              link: 'https://learn.grey.software/',
            },
            {
              name: 'Glossary',
              link: 'https://glossary.grey.software/',
            },
          ],
        },
        {
          name: 'Socials',
          links: [
            {
              name: 'Twitter',
              link: 'https://twitter.com/grey_software',
            },
            {
              name: 'GitHub',
              link: 'https://github.com/grey-software',
            },
            {
              name: 'GitLab',
              link: 'https://gitlab.com/grey-software',
            },
            {
              name: 'Discord',
              link: 'http://community.grey.software',
            },
            {
              name: 'LinkedIn',
              link: 'https://www.linkedin.com/company/grey-software/',
            },
          ],
        },
        {
          name: 'Credits',
          links: [
            {
              name: 'Team',
              link: '/team',
            },
            {
              name: 'Sponsors',
              link: '/sponsors',
            },
          ],
        },
      ],
    }
  },
}
</script>
