<template>
  <div>
    <div @keydown.esc="isOpen = false" v-show="isOpen" class="fixed inset-0 z-10">
      <div @click="drawer" class="absolute inset-0 bg-white" tabindex="0"></div>
    </div>

    <aside
      class="w-80 fixed top-0 right-0 z-30 h-full p-5 transition-all duration-300 ease-in-out transform bg-gray-100"
      :class="isOpen ? 'translate-x-0' : 'translate-x-full'"
    >
      <div class="close">
        <button class="absolute top-0 right-0 mt-4 mr-4" @click="drawer">
          <IconX />
        </button>
      </div>

      <div @click="drawer" class="flex items-center w-full p-4 border-b">
        <GreySoftwareLogo />
      </div>

      <div class="flex flex-col justify-start px-4 mt-12">
        <div v-for="(navItem, index) in navItems" :key="index">
          <div
            @click="toggleDropDown(navItem)"
            class="hover:cursor-pointer static left-0 flex flex-row items-center justify-between w-56 h-10 p-0 mt-2"
          >
            <div>
              {{ navItem.name }}
            </div>
            <icon-chevron-down
              v-if="isDropdownOpen && navItem.isAccordianOpen"
              class="dark:text-white w-5 h-5 text-gray-700"
            />
            <icon-chevron-right v-else class="dark:text-white w-5 h-5 text-gray-700" />
          </div>

          <div
            class="static flex-col items-start justify-center w-56 pl-6 mt-2"
            :class="isDropdownOpen && navItem.isAccordianOpen ? 'flex' : 'hidden'"
          >
            <div v-for="navItemLink in navItem.links" :key="navItemLink.name">
              <div class="mb-3">
                <drop-down-item
                  v-on:drawer="drawer"
                  :item="navItemLink"
                  :isSideNav="true"
                  :isExternal="navItem.name == 'Explore' || navItem.name == 'Socials'"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="bottom-8 left-9 absolute mt-auto text-sm font-medium leading-4 text-gray-900">
        Made with Love, Joy and Hope
      </p>
    </aside>
  </div>
</template>

<script>
export default {
  props: {
    isOpen: { type: Boolean, default: false },
  },

  data() {
    return {
      navItems: [
        {
          name: 'About',
          isAccordianOpen: false,
          links: [
            {
              name: 'Pitch',
              link: '/pitch',
            },
            {
              name: 'FAQ',
              link: '/faq',
            },
            {
              name: 'Feedback',
              link: '/feedback',
            },
            {
              name: 'Analytics',
              link: '/analytics',
            },
            {
              name: 'Philosophy',
              link: '/philosophy',
            },
          ],
        },
        {
          name: 'Explore',
          isAccordianOpen: false,
          links: [
            {
              name: 'Resources',
              link: 'https://resources.grey.software/',
            },
            {
              name: 'Onboarding',
              link: 'https://onboarding.grey.software/',
            },
            {
              name: 'Organization',
              link: 'https://org.grey.software/',
            },
            {
              name: 'Learn',
              link: 'https://learn.grey.software/',
            },
            {
              name: 'Glossary',
              link: 'https://glossary.grey.software/',
            },
          ],
        },
        {
          name: 'Socials',
          isAccordianOpen: false,
          links: [
            {
              name: 'Twitter',
              link: 'https://twitter.com/grey_software',
            },
            {
              name: 'GitHub',
              link: 'https://github.com/grey-software',
            },
            {
              name: 'GitLab',
              link: 'https://gitlab.com/grey-software',
            },
            {
              name: 'Discord',
              link: 'http://community.grey.software',
            },
            {
              name: 'LinkedIn',
              link: 'https://www.linkedin.com/company/grey-software/',
            },
          ],
        },
        {
          name: 'Credits',
          isAccordianOpen: false,
          links: [
            {
              name: 'Team',
              link: '/team',
            },
            {
              name: 'Sponsors',
              link: '/sponsors',
            },
          ],
        },
      ],

      isDropdownOpen: true,
    }
  },

  methods: {
    drawer() {
      this.$emit('drawer')
    },

    toggleDropDown(navItem) {
      navItem.isAccordianOpen = !navItem.isAccordianOpen
      this.navItems.filter((item) => navItem.name != item.name).forEach((item) => (item.isAccordianOpen = false))
    },
  },
}
</script>
