* {
  box-sizing: border-box;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
  filter: inherit;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
}

.typography img {
  border-radius: 6px;
}

.container {
  width: 100%;
}

@media (max-width: 599pc) {
  .container {
    max-width: 599px;
  }
}
@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1100px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1800px;
  }
}
@media (min-width: 2000px) {
  .container {
    max-width: 2000px;
  }
}
