<template>
  <div class="md:px-20 lg:px-48 mt-navbar-mobile lg:mt-navbar-pc px-8 mx-auto">
    <article class="typography max-w-full p-8">
      <h1>
        {{ document.title }}
      </h1>
      <div v-if="document.subtitle" class="-mt-4">
        <p class="dark:text-gray-400 text-gray-600">
          {{ document.subtitle }}
        </p>
      </div>

      <NuxtContent class="mt-8" :document="document" />
    </article>
  </div>
</template>

<script>
export default {
  name: 'PlaceholderPage',

  async asyncData({ $content, params, error }) {
    const path = `${params.pathMatch.split('/')[0] || 'index'}`
    const document = await $content(path).fetch()
    if (!document) {
      return error({ statusCode: 404, message: 'Page not found' })
    }
    return {
      document,
    }
  },
}
</script>
