<template>
  <div class="md:px-20 lg:px-48 mt-navbar-mobile lg:mt-navbar-pc container mx-auto">
    <article class="typography max-w-full p-8">
      <h1>
        {{ document.title }}
      </h1>
      <div v-if="document.subtitle" class="-mt-4">
        <p class="dark:text-gray-400 text-gray-600">
          {{ document.subtitle }}
        </p>
      </div>

      <NuxtContent class="mt-8" :document="document" />
    </article>
  </div>
</template>

<script>
export default {
  name: 'FocusedBrowsingPage',
  async asyncData({ $content, error }) {
    const document = await $content('focused-browsing').fetch()
    if (!document) {
      return error({ statusCode: 404, message: 'Page not found' })
    }
    return {
      document,
    }
  },
  head: {
    title: 'Focused Browsing: Reclaim your Focus',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'A web extension that lets you control distracting feeds on popular websites!',
      },
      {
        name: 'og:title',
        content: 'Focused Browsing | Reclaim your Focus!',
      },
      {
        name: 'og:description',
        content: 'A web extension that lets you control distracting feeds on popular websites!',
      },
      {
        name: 'og:image',
        content: 'https://grey.software/focused-browsing/preview.png',
      },
      {
        name: 'twitter:card',
        content: 'summary_large_image',
      },
    ],
  },
}
</script>
