<template>
  <a
    :href="link"
    class="
      focus:outline-none
      dark:text-white
      text-md text-secondary-500
      lg:px-7
      max-w-32
      border-secondary-500
      hover:border-secondary-800
      block
      px-4
      py-2
      text-center
      transition-all
      border
      rounded-md
    "
  >
    {{ text }}
  </a>
</template>

<script>
export default {
  props: {
    text: String,
    link: String,
  },
}
</script>
