<template>
  <div
    class="sm:w-56 lg:w-88 border-black-600 rounded-2xl flex w-full px-4 py-2 mb-8 font-sans border border-opacity-100"
  >
    <div class="flex-auto px-2 py-3">
      <div class="flex flex-wrap items-center">
        <p class="dark:text-white flex-auto text-xl font-semibold text-black">
          {{ donor.name }}
        </p>
        <div class="dark:text-gray-500 text-xs text-black">
          <div class="flex items-center py-4">
            <span class="relative pr-1">
              <IconCalender class="w-4 h-4" />
            </span>
            {{ donor.date }}
          </div>
        </div>
        <div class="dark:text-gray-300 flex-none w-full pb-4 text-sm text-black">DONATED: {{ donor.amount }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    donor: {
      name: String,
      amount: String,
      date: String,
    },
  },
}
</script>

<style></style>
