<template>
  <div>
    <a
      v-if="isExternal"
      :class="
        !isSideNav &&
        'w-80 hover:w-96 hover:px-7 hover:bg-gray-100 flex items-center transition-all justify-between border border-t-0 border-l-0 border-r-0'
      "
      :href="item.link"
      target="blank"
    >
      <div class="dark:text-white text-gray-700 block" :class="isSideNav ? 'text-base' : 'py-4 text-sm'">
        {{ item.name }}
      </div>
      <icon-chevron-right v-show="!isSideNav" class="dark:text-white w-5 h-5 text-gray-700" />
    </a>
    <div v-else @click="drawers">
      <nuxt-link
        :to="item.link"
        :class="
          !isSideNav &&
          'w-80 hover:w-96 hover:px-7 hover:bg-gray-100 flex items-center transition-all justify-between border border-t-0 border-l-0 border-r-0'
        "
      >
        <div class="dark:text-white text-gray-700 block" :class="isSideNav ? 'text-base' : 'py-4 text-sm'">
          {{ item.name }}
        </div>
        <icon-chevron-right v-show="!isSideNav" class="dark:text-white w-5 h-5 text-gray-700" />
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: { type: Object },
    isExternal: { type: Boolean, default: false },
    isSideNav: { type: Boolean, default: false },
  },

  methods: {
    drawers() {
      this.$emit('drawer')
    },
  },
}
</script>
