<template>
  <div class="justify-evenly flex">
    <a :href="chrome" target="_blank">
      <img
        class="sm:h-16 h-12 shadow-lg"
        src="https://storage.googleapis.com/chrome-gcs-uploader.appspot.com/image/WlD8wC6g8khYWPJUsQceQkhXSlv1/HRs9MPufa1J1h5glNhut.png"
      />
    </a>
    <a :href="firefox" target="_blank"
      ><img
        class="sm:h-16 h-12 shadow-lg"
        src="https://extensionworkshop.com/assets/img/documentation/publish/get-the-addon-178x60px.dad84b42.png"
    /></a>
  </div>
</template>

<script>
export default {
  props: {
    chrome: String,
    firefox: String,
  },
}
</script>

<style></style>
