<template>
  <div class="md:w-96 lg:w-112 lg:mb-4 w-full px-4 mb-8">
    <div class="p-3 bg-white">
      <h4 class="mb-8 ml-2 text-lg font-semibold">{{ title }}</h4>
      <sponsor-card-offering
        class="mb-6 -ml-8"
        offering="Access to the Premium versions of the current and future products in our app collection."
      />
      <sponsor-card-offering
        class="mb-12 -ml-8"
        :offering="`Recognition as a ${title} Sponsor on our websites and project repositories.`"
      />
      <cta-support class="md:ml-4" :text="tier" :link="link" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tier: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '',
    },
  },
}
</script>

<style></style>
