<template>
  <div class="md:w-96 lg:w-108 w-full p-8 pl-10">
    <div class="mb-20 h-72 md:h-104 bg-white">
      <h4 class="mb-2 text-lg font-semibold">{{ tier.title }}</h4>
      <div class="mb-8 mt-2">
        <p class="font-sans text-base font-normal text-gray-800 mb-6">
          Feature the following items of your organization's brand across our ecosystem.
        </p>
      </div>
      <div class="h-32 mb-4">
        <org-sponsor-card-offering
          class="mb-6 -ml-8"
          v-for="(offering, index) in getOfferingsForTier(tier.title)"
          :key="index"
          :offering="offering"
        />
      </div>

      <div class="flex-col flex items-center" :class="isTablet && cta">
        <org-cta-support class="md:ml-4 mt-2 mb-4" text="Github" :link="tier.gitHubLink" />
        <org-cta-support
          v-show="!isTablet"
          class="md:ml-4 lg:mt-0 md:-mt-2"
          text="Open Collective"
          :link="tier.openCollectiveLink"
        />
        <org-cta-support
          v-show="isTablet"
          class="md:ml-4 lg:mt-0 md:-mt-2"
          text="OpenCollective"
          :link="tier.openCollectiveLink"
        />
      </div>
    </div>
  </div>
</template>

<script>
import OrgCtaSupport from './OrgCtaSupport.vue'
import OrgSponsorCardOffering from './OrgSponsorCardOffering.vue'
export default {
  components: { OrgSponsorCardOffering, OrgCtaSupport },
  props: {
    tier: {
      type: Object,
    },
  },

  data() {
    return {
      isTablet: false,
    }
  },

  beforeMount() {
    window.addEventListener('resize', this.onResize)
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize)
  },

  methods: {
    onResize() {
      if (window.innerWidth > 900 && window.innerWidth < 1200) {
        this.isTablet = true
      } else {
        this.isTablet = false
      }
    },

    getOfferingsForTier(tier) {
      switch (tier) {
        case 'Bronze': {
          return ['Partner Organization Name', 'Partner Organization Logo']
        }
        case 'Silver': {
          return ['Partner Organization Name', 'Partner Organization Logo', '140 Characters Description']
        }
        case 'Gold': {
          return ['Partner Organization Name', 'Partner Organization Logo', '140 Characters Description']
        }
        case 'Platinum': {
          return ['Partner Organization Name', 'Partner Organization Logo', '140 Characters Description']
        }
      }
    },
  },
}
</script>

<style>
.cta {
  width: 390px;
}
</style>
