<template>
  <div class="container flex flex-col items-center mx-auto text-center">
    <h2 class="lg:text-4xl font-heading max-w-xl mt-2 mb-4 text-3xl font-bold">
      {{ title }}
    </h2>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
  },
}
</script>
