<template>
  <div
    class="sm:w-64 lg:w-88 border-black-600 rounded-2xl flex w-full px-4 py-2 mb-8 font-sans border border-opacity-100"
  >
    <div class="flex-auto px-2 pt-4">
      <div class="flex flex-wrap items-center">
        <p class="dark:text-white flex-auto text-xl font-semibold text-black">
          {{ sponsor.username }}
        </p>
        <div class="dark:text-gray-500 text-xs text-black">
          <div v-if="sponsor.isPastSponsor == true" class="flex items-center py-4">
            Total: ${{ sponsor.totalAmount }}
          </div>
          <div v-else class="flex items-center py-4">
            <span class="relative pr-1">
              <IconCalender class="w-4 h-4" />
            </span>
            {{ sponsor.monthlyAmount }}$/Month
          </div>
        </div>

        <div
          v-if="sponsor.isPastSponsor == true"
          class="font-extralight dark:text-gray-300 flex-none w-full text-sm text-black"
        >
          {{ $moment(sponsor.startDate).format('MMM, YYYY') }} - {{ $moment(sponsor.endDate).format('MMM, YYYY') }}
        </div>

        <div v-else class="font-extralight dark:text-gray-300 flex-none w-full text-sm text-black">
          Since {{ $moment(sponsor.startDate).format('MMM, YYYY') }}
        </div>
      </div>
      <a
        v-if="sponsor.username != 'Private'"
        :href="`https://github.com/${sponsor.username}`"
        class="flex items-center py-4"
      >
        <span class="relative pr-1">
          <IconGithub class="w-4 h-4 text-black" />
        </span>
        <p class="text-md dark:text-white text-black">Github</p>
      </a>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  props: {
    sponsor: {
      username: String,
      amount: String,
      date: String,
    },
  },
}
</script>

<style></style>
